# Configuration file

~CONFIG_VERSION: 0.1.0

world-1108033911 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1145191171 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=oak
    B:overlayEnabled=true
}


world-1248274896 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=scra
    B:overlayEnabled=true
}


world-1296295837 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=@indust
    B:overlayEnabled=true
}


world-1431591077 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=tung
    B:overlayEnabled=true
}


world-1530465183 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=therm
    B:overlayEnabled=true
}


world-1796296913 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=bed
    B:overlayEnabled=true
}


world-199780372 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-201078597 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-347219412 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-563008206 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=bucket
    B:overlayEnabled=true
}


world-670199188 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=aqu
    B:overlayEnabled=true
}


world-719378990 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=plate
    B:overlayEnabled=true
}


world-78688046 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=creat
    B:overlayEnabled=true
}


world-79713310 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=dim
    B:overlayEnabled=true
}


world-929928628 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=sew
    B:overlayEnabled=true
}


world-964652863 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=scra
    B:overlayEnabled=true
}


world-991450655 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=but
    B:overlayEnabled=true
}


world108549633 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1167654689 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1236983649 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=asp
    B:overlayEnabled=true
}


world1283323171 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=cobble
    B:overlayEnabled=true
}


world1284592268 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=birch
    B:overlayEnabled=true
}


world1284646883 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1284661778 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=plat
    B:overlayEnabled=true
}


world1398994081 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1544803905 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world160532364 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=leather
    B:overlayEnabled=true
}


world1690200562 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=reso
    B:overlayEnabled=true
}


world1837557036 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1855637915 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=entit
    B:overlayEnabled=true
}


world1885435274 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=steel
    B:overlayEnabled=true
}


world2121100161 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=lever
    B:overlayEnabled=true
}


world2424548 {
    # Give items instead of showing the recipe.
    B:cheatItemsEnabled=true

    # Hide and unhide items by clicking them in the item list.
    B:editEnabled=false
    S:filterText=calcu

    # Show the list of items next to open guis.
    B:overlayEnabled=true
}


world3053915 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=lava
    B:overlayEnabled=true
}


world3089328 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=gold
    B:overlayEnabled=true
}


world3419607 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=ore
    B:overlayEnabled=true
}


world511373481 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world660754380 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world681536033 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=rotten
    B:overlayEnabled=true
}


world785103634 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=gold
    B:overlayEnabled=true
}


world856609915 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=@drac
    B:overlayEnabled=true
}


world94028866 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world99652 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=empow
    B:overlayEnabled=true
}


